html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
p{
  font-family: 'Indie Flower', cursive;
  font-family: 'Rock Salt', cursive;
  font-family: 'Covered By Your Grace', cursive;
}
